@page "/products"

<h3>Product List</h3>

<br />
<br />
<SearchComponent OnSearch="HandleSearch"></SearchComponent>
<br />

<ProductListComponent SearchProductFilter="@productNameToSearch"></ProductListComponent>

<a class="btn btn-light" href="addproduct">Add product</a>

@code {
    private string? productNameToSearch;

    private void HandleSearch(string searchFilter)
    {
        productNameToSearch = searchFilter;
    }
}
